body {
  background-color: #ececec;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
}
.search-form {
  border-bottom: 1px solid #9fd3c7;
  padding: 0 0 30px 0;
}
.location {
  font-size: 24px;
  color: rgb(52, 51, 48);
  font-weight: lighter;
}
.search-form-input {
  background-color: #ececec;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  font-weight: 200;
}
.search-form-button {
  font-size: 16px;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: #9fd3c7;
  border: none;
  color: white;
  font-weight: 600;
}
a {
  color: #142d4c;
}
.time {
  font-size: 16px;
  font-weight: lighter;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-data-temp {
  font-size: 88px;
  display: flex;
  justify-content: space-around;
}
.weather-app-data-degres {
  font-size: 16px;
  margin-top: 20px;
}
.weather-app-data-emoji {
  font-size: 48px;
  margin-top: 20px;
  padding-right: 20px;
}
.weather-app-data-text {
  margin-top: 40px;
}
.forecast-5days {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px auto;
}
.forecast-day {
  margin: auto;
  text-align: center;
}
footer {
  margin-top: 20px;
  border-top: 1px solid #9fd3c7;
  padding: 0 30px 0 0;
  padding-top: 20px;
}
