body {
  background-color: #ececec;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.weather-app {
  background-color: #ffffff;
  max-width: 700px;
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  margin-top: 20px;
}
.search-form {
  border-bottom: 1px solid #9fd3c7;
  padding: 0 0 30px 0;
}
.location {
  font-size: 24px;
  color: rgb(52, 51, 48);
  font-weight: lighter;
}
.search-form-input {
  background-color: #ececec;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  font-weight: 200;
}
.search-form-button {
  font-size: 16px;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: #9fd3c7;
  border: none;
  color: white;
  font-weight: 600;
}
a {
  color: #142d4c;
}
.time {
  font-size: 16px;
  font-weight: lighter;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.weather-app-data-temp {
  font-size: 88px;
  display: flex;
  justify-content: space-around;
}
.weather-app-data-degres {
  font-size: 16px;
  margin-top: 20px;
}
.weather-app-data-emoji {
  font-size: 48px;
  margin-top: 20px;
  padding-right: 20px;
}
.weather-app-data-text {
  margin-top: 40px;
}
.forecast-5days {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px auto;
  font-size: 16px;
}
.forecast-day {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
footer {
  margin-top: 20px;
  border-top: 1px solid #9fd3c7;
  padding: 0 30px 0 0;
  padding-top: 20px;
  text-align: center;
}
strong {
  color: #9fd3c7;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
.themeButton {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: 2px solid #9fd3c7;
  padding: 10px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  font-size: 12px;
}
button:hover {
  background-color: #9fd3c7;
  color: #142d4c;
  cursor: pointer;
  border: 2px solid #142d4c;
}

.darktheme:hover {
  background: white;
  color: white;
  cursor: pointer;
}
.dark {
  background: linear-gradient(
    89.7deg,
    rgb(0, 0, 0) -10.7%,
    rgb(53, 92, 125) 88.8%
  );
  color: white;
}

.dark .themeButton {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.dark .weather-app {
  background: #142d4c;
  color: white;
}
.dark .form-button {
  background-color: #142d4c;
  border: #ffffff;
}
.dark .location {
  color: white;
}
.dark a {
  color: #f65282;
}
